/* 公共-背景裁剪 */
.geometry3_background_img{
    height: 1500px;
}

/* 题库正文 */
#problem_bank{
    width: 1000px;
    height: 1200px;
    margin: 80px auto auto;
    padding-top: 60px;
}

/* 题库标题 */
#problem_bank_title{
    width: 1000px;
    height: 50px;
}
#problem_bank_title p{
    float: left;
}
#problem_bank_title input{
    width: 150px;
}
#problem_bank_title .textbox{
    float: left;
    margin-left: 70px;
    display: block;
}
#button_query_problems{
    float: left;
    margin-left: 70px;
}

/* 题库内容 */
#problem_bank_content{
    width: 1000px;
    height: 1050px;
}
#problem_board_list{
    list-style: none;
}
.problem_board{
    width: 1000px;
    height: 300px;
    background: #ffffff;
    border: 3px solid #9d9895;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.problem_board_picture{
    width: 390px;
    height: 280px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
}
.problem_board_info{
    width: 300px;
    height: 300px;
    float: left;
    padding-left: 50px;
    overflow: hidden;
}
.problem_board_info p{
    font-size: 15px;
    margin-top: 40px;
}
#problem_pagination{
    background:#efefef;
    border:1px solid #ccc;
    margin-top: 20px;
}
