/* 公共-背景裁剪 */
.geometry3_background_img{
    height: 1500px;
}

/* 题目详情正文 */
#problem_detail{
    width: 1300px;
    height: 1200px;
    margin: 80px auto auto;
    padding-top: 60px;
}

/* 公共，本页面指引框、输入框、按钮 */
.step_guide{
    width: 600px;
    height: 40px;
}
.step_guide > img{
    width: 70px;
    height: 40px;
    float: left;
}
.step_guide > span{
    height: 40px;
    float: left;
    font-size: 30px;
    font-weight: bold;
}

/* 题目详情展示 */
#problem_show{
    width: 600px;
    height: 800px;
    float: left;
}
#problem_show_picture{
    width: 600px;
    height: 420px;
    padding-top: 20px;
    padding-left: 20px;
}
#problem_show_picture > div{
    width: 510px;
    height: 40px;
    overflow: auto;
    font-weight: bold;
}
#problem_show_picture > img{
    width: 510px;
    height: 340px;
    border: 3px solid #9d9895;
    border-radius: 8px;
}
#problem_show_known_conditions{
    width: 600px;
    height: 210px;
    padding-left: 20px;
}
#known_conditions_list{
    width: 500px;
    height: 160px;
    padding-left: 25px;
    overflow: auto;
    list-style-type: disc;
}
#problem_show_need_prove{
    width: 600px;
    height: 100px;
    padding-left: 20px;
}
#need_prove_content{
    width: 500px;
    overflow: auto;
}

/* 解答日志展示 */
#problem_solve_log{
    width: 700px;
    height: 800px;
    float: left;
}
#problem_solve_log_box{
    width: 660px;
    height: 680px;
    border: 5px solid transparent;
    border-top-width: 15px;
    border-radius: 8px;
    background: rgb(251, 240, 223);
    background-clip: content-box;
    position: relative;
    margin-top: 15px;
    margin-left: 10px;
}
#problem_solve_log_box::after{
    content:'';
    position: absolute;
    top: -15px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    z-index: -1;
    background-image: -webkit-linear-gradient(left, rgb(25, 188, 254), rgb(25, 98, 254));
    background-image: -moz-linear-gradient(left, rgb(25, 188, 254), rgb(25, 98, 254));
    background-image: linear-gradient(left, rgb(25, 188, 254), rgb(25, 98, 254));
    border-radius: 8px;
}
#problem_solve_log_setting{
    width: 650px;
    height: 30px;
}
#problem_solve_log_setting_detail{
    float: right;
    margin-top: 3px;
    margin-right: 20px;
}
#problem_solve_log_content{
    width: 550px;
    height: 600px;
    margin: 0 auto auto;
    overflow-y: auto;
    overflow-x: hidden;
}
#problem_solve_log_table{
    width: 550px;
    border-spacing: 5px;
    table-layout: fixed;
    font-family: "Lucida Console", "Courier New", monospace;
}
#problem_solve_log_table td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 题目解答 */
#problem_solve{
    width: 1300px;
    height: 340px;
    float: left;
}
