/* 公共-默认设置 */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, 
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, nav, input {
    margin: 0;
    padding: 0
}
html{
	font-family: "微软雅黑", serif;
	font-size:20px;
}

/* 公共-背景 */
.geometry3_background_img{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	overflow: hidden;
}
.geometry3_background_img > img{
	width: 100%;
	height: 2400px;
	opacity: 0.1;
}

/* 公共-页眉部分 */
.geometry3_header{
	width: 100%;
	height: 77px;
	position: fixed;
	top: 0;
	z-index: 10;
	overflow: hidden;
	border-bottom: 2px solid #9d9895;
	background-color: #E0ECFF;
}
.header_content{
	width: 1251px;
	height: 75px;
	margin: auto;
}
.header_content img:nth-child(1){
	width: 55px;
	height: 50px;
	float: left;
	margin-top: 10px;
}
.header_content a:nth-child(2){
	float: left;
	margin-top: 25px;
	margin-left: 150px;
	color: #000;
	text-decoration:none;
}
.header_content a:nth-child(3){
	float: left;
	margin-top: 25px;
	margin-left: 70px;
	color: #000;
	text-decoration:none;
}
.header_content a:nth-child(4){
	float: left;
	margin-top: 25px;
	margin-left: 70px;
	color: #000;
	text-decoration:none;
}
.header_content a:nth-child(5){
	float: left;
	margin-top: 25px;
	margin-left: 70px;
	color: #000;
	text-decoration:none;
}
.header_content a:nth-child(6){
	float: right;
	margin-top: 25px;
	margin-right: 10px;
	color: #000;
	text-decoration:none;
}
#header_text_underline{
	position: absolute;
	left: 0;
	top: 58px;
	border-bottom: solid 2px black;
	width: 0;
}

/* 公共-页脚部分 */
.geometry3_footer{
	width: 100%;
	height: 223px;
	z-index: 10;
	overflow: hidden;
	border-top: 2px solid #9d9895;
	background-color: #E0ECFF;
}
.footer_content{
	width: 1251px;
	height: 221px;
	margin: auto;
}
.footer_logo{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 10px;
	float: left;
}
.footer_logo > img{
	width: 200px;
	height: 200px;
}
.footer_advertisement{
	width: 300px;
	height: 200px;
	margin-top: 10px;
	margin-left: 100px;
	padding-top: 30px;
	float: left;
}
.footer_advertisement div{
	margin-top: 20px;
	font-size: 15px;
	font-weight: bold;
}
.footer_advertisement a{
	color: #000;
	text-decoration:none;
}
.footer_recommend_products{
	width: 400px;
	height: 200px;
	margin-top: 10px;
	margin-left: 100px;
	padding-top: 30px;
	float: left;
}
.footer_recommend_products div:nth-child(1){
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
}
.recommend_products_picture{
	width: 400px;
	height: 100px;
	margin-top: 20px;
}
.recommend_products_picture div{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 30px;
}
.recommend_products_picture img{
	width: 100px;
	height: 100px;
}

/* 公共-输入框类 */
.input_condition_box{
	width: 600px;
	height: 50px;
}
.input_condition_box > select {
	width: 50px;
	height: 40px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	border: 2px solid #9d9895;
	font-size: 30px;
	text-align: center;
}
.input_condition_box input{
	width: 250px;
	height: 40px;
	float: left;
	border: 2px solid #9d9895;
	border-radius: 8px;
	font-size: 20px;
	text-align: center;
}

/* 公共-按钮类 */
.input_tool_buttons{
	height: 50px;
}
.button_input{
	width: 50px;
	height: 50px;
	border: 2px solid #9d9895;
	border-radius: 8px;
}
.button_input > span{
	width: 40px;
	height: 40px;
	margin: auto;
}
.button_input > span > span{
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 30px;
	text-align: center;
}
.button_submit_1{
	width: 100px;
	height: 50px;
	border: 2px solid #9d9895;
	border-radius: 8px;
}
.button_submit_1 > span{
	width: 80px;
	height: 40px;
	margin: auto;
}
.button_submit_1 > span > span{
	width: 70px;
	height: 30px;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 20px;
	text-align: center;
}
.button_draw_1{
	width: 50px;
	height: 50px;
	border: 2px solid #9d9895;
	border-radius: 8px;
}
.button_draw_1 > span{
	width: 40px;
	height: 40px;
	margin: auto;
}
.button_draw_1 > span > span{
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 30px;
	text-align: center;
}
.button_draw_1 img{
	width: 25px;
	height: 25px;
}
