<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Geometry3-主页</title>
		<link rel="stylesheet" type="text/css" href="../static/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/home.css"/>
		<script src="../static/js/jquery-3.6.0.min.js"></script>
		<script src="../static/js/jquery-color-2.1.2.js"></script>
		<script src="../static/js/public.js"></script>
	</head>
	<body>
		<div id="box">
			<!--公共-背景-->
			<img class="geometry3_background_img" src="../static/img/geometry3_banner_long.jpg"/>
			<!--公共-页眉部分-->
			<header class="geometry3_header">
				<div class="header_content">
					<img src="../static/img/geometry3_logo.png"/>
					<a href="home.html">GeometryV3</a>
					<a href="#">公共题库</a>
					<a href="#">我的题库</a>
					<a href="new_problem.html">新的题目</a>
					<a href="#">登录</a>
					<span id="header_text_underline"></span>
				</div>
			</header>
			<!--产品介绍板块-->
			<div class="geometry3_introduce">
				<span>123</span>
			</div>
			
		</div>
	</body>
</html>
