<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="~{base :: geometry3_public_resource}"></div>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/home.css"/>
		<meta charset="utf-8"/>
		<title>Geometry3-主页</title>
	</head>
	<body>
		<div class="all_container">
			<!-- 公共-页面前置部分 -->
			<div th:replace="~{base :: geometry3_public_nav}"></div>
			<!-- 正文部分 -->
			<div id="geometry3_introduce">
				<span>123</span>
			</div>
			<!-- 公共-页脚部分 -->
			<div th:replace="~{base :: geometry3_public_footer}"></div>
		</div>
		<script th:inline="javascript">
			
		</script>
	</body>
</html>