<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8"/>
		<title>Geometry3-创建新题目</title>
		<!-- jQuery EasyUI -->
		<link rel="stylesheet" type="text/css" href="../static/js/jquery-easyui-1.8.6/themes/default/easyui.css" />
		<link rel="stylesheet" type="text/css"  href="../static/js/jquery-easyui-1.8.6/themes/icon.css" />
		<script type="text/javascript" src="../static/js/jquery-easyui-1.8.6/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/jquery-easyui-1.8.6/jquery-color-2.1.2.js"></script>
		<script type="text/javascript" src="../static/js/jquery-easyui-1.8.6/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="../static/js/jquery-easyui-1.8.6/locale/easyui-lang-zh_CN.js"></script>
		<!-- PaperJS -->
		<script type="text/javascript" src="https://unpkg.com/paper@0.12.15/dist/paper-full.js"></script>
		<!-- 项目内部依赖 -->
		<link rel="stylesheet" type="text/css" href="../static/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/new_problem.css"/>
		<script src="../static/js/public.js"></script>
		<script src="../static/js/new_problem.js"></script>
	</head>
	<body>
		<div class="all_container">
			<!-- 公共-背景 -->
			<img class="geometry3_background_img" src="../static/img/geometry3_banner_long.jpg" alt="背景图"/>
			<!-- 公共-页眉部分 -->
			<header class="geometry3_header">
				<div class="header_content">
					<img src="../static/img/geometry3_logo.png" alt="logo图"/>
					<a href="./home.html">GeometryV3</a>
					<a href="#">公共题库</a>
					<a href="#">我的题库</a>
					<a href="./new_problem.html">新的题目</a>
					<a href="#">登录</a>
					<span id="header_text_underline"></span>
				</div>
			</header>
			<!-- 正文部分 -->
			<div id="new_problem">
				<!-- 第一环节，画图 -->
				<div id="draw_problem">
					<div id="draw_guide" class="step_guide">
						<img class="guide_icon" src="../static/img/icons/no_1.png" alt="第一步"/>
						<span>在这里画出你的图形</span>
					</div>
					<div id="draw_tool_buttons">
						<a id="button_draw_select" class="easyui-linkbutton button_draw_1">
							<img src="../static/img/buttons/draw_button_select.png" alt="画板选择按钮"/>
						</a>
						<a id="button_draw_point" class="easyui-linkbutton button_draw_1">
							<img src="../static/img/buttons/draw_button_point.png" alt="画板绘制点按钮"/>
						</a>
						<a id="button_draw_line" class="easyui-linkbutton button_draw_1">
							<img src="../static/img/buttons/draw_button_line.png" alt="画板绘制线段按钮"/>
						</a>
						<a id="button_draw_delete" class="easyui-linkbutton button_draw_1">
							<img src="../static/img/buttons/draw_button_delete.png" alt="画板删除按钮"/>
						</a>
						<a id="button_draw_save" class="easyui-linkbutton button_draw_1">
							<img src="../static/img/buttons/draw_button_save.png" alt="画板保存按钮"/>
						</a>
					</div>
					<canvas id="draw_canvas"></canvas>
					<div id="dialog_rename_point_name" class="easyui-dialog" title="点重命名" closed="true"
						buttons="#dialog_rename_point_name_buttons">
						<input type="text"/>
					</div>
					<div id="dialog_rename_point_name_buttons">
					    <a class="easyui-linkbutton" onclick="renamePoint()">确定</a>
					</div>
				</div>
				<!-- 第二环节，输入已知等量关系 -->
				<div id="input_known_conditions">
					<div id="input_known_conditions_guide" class="step_guide">
						<img class="guide_icon" src="../static/img/icons/no_2.png" alt="第二步"/>
						<span>在这里输入题目初始已知条件</span>
					</div>
					<div id="input_new_known_conditions">
						<div>输入题目初始条件(每次一条)</div>
						<div id="input_new_known_conditions_box" class="input_condition_box">
							<input id="new_conditions_input_left" type="text"/>
							<select id="new_condition_type_selector">
							  <option value="=">=</option>
							  <option value=">">></option>
							</select>
							<input id="new_conditions_input_right" type="text"/>
						</div>
						<div class="input_tool_buttons">
							<a class="easyui-linkbutton button_input">∠</a>
							<a class="easyui-linkbutton button_input">^</a>
							<a id="button_submit_input_condition" class="easyui-linkbutton button_submit_1">提交</a>
						</div>
					</div>
					<div id="total_known_conditions">
						<div>
							<span>已输入的已知条件：</span>
							<span id="total_known_conditions_count">0个</span>
						</div>
						<ul id="total_known_conditions_list"></ul>
					</div>
				</div>
				<!-- 第三环节，输入待求证等量关系 -->
				<div id="input_need_prove">
					<div id="input_need_prove_guide" class="step_guide">
						<img class="guide_icon" src="../static/img/icons/no_3.png" alt="第三步"/>
						<span>在这里输入题目待求证的等量关系</span>
					</div>
					<div id="input_new_need_prove">
						<div>输入题目待求证等量关系</div>
						<div id="input_new_need_prove_box" class="input_condition_box">
							<input id="new_need_prove_input_left" type="text"/>
							<select id="new_need_prove_type_selector">
							  <option value="=">=</option>
							  <option value=">">></option>
							</select>
							<input id="new_need_prove_input_right" type="text"/>
						</div>
						<div class="input_tool_buttons">
							<a class="easyui-linkbutton button_input">∠</a>
							<a class="easyui-linkbutton button_input">^</a>
							<a id="button_submit_need_prove" class="easyui-linkbutton button_submit_1">提交</a>
						</div>
					</div>
					<div id="final_need_prove">
						<div>待求证等量关系式为：</div>
						<div id="final_need_prove_str"></div>
						<a id="button_delete_need_prove" class="easyui-linkbutton button_submit_1">清除</a>
					</div>
				</div>
				<!-- 第四环节，保存并解答该题目 -->
				<div id="start_the_new_problem">
					<div id="start_the_new_problem_guide" class="step_guide">
						<img class="guide_icon" src="../static/img/icons/no_4.png" alt="第四步"/>
						<span>题目录入完成，保存并解答该题目</span>
					</div>
					<div id="start_the_new_problem_content">
						<a id="button_start_the_new_problem" href="javascript:void(0)">
							<img src="../static/img/buttons/start_new_problem.png" alt="开始此题目"/>
						</a>
					</div>
				</div>
			</div>
			<!-- 公共-页脚部分 -->
			<footer class="geometry3_footer">
				<div class="footer_content">
					<div class="footer_logo">
						<img src="../static/img/geometry3_footer_logo.png" alt="页脚logo"/>
					</div>
					<div class="footer_advertisement">
						<div>致力于软件项目的独立开发</div>
						<div>专注于表达数学相关领域的奇思妙想</div>
						<div><a href="https://github.com/bigfatcat-shiquan">访问Github</a></div>
					</div>
					<div class="footer_recommend_products">
						<div>更多特色原创项目</div>
						<div class="recommend_products_picture">
							<div><img src="../static/img/large_image/geometry3_footer_recommend_1.png" alt="更多项目1"/></div>
							<div><img src="../static/img/large_image/geometry3_footer_recommend_2.png" alt="更多项目2"/></div>
							<div><img src="../static/img/large_image/geometry3_footer_recommend_3.png" alt="更多项目3"/></div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
