<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="./base :: geometry3_public_resource"></div>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/problem_detail.css"/>
		<meta charset="utf-8"/>
		<title>Geometry3-题目详情</title>
	</head>
	<body>
		<div class="all_container">
			<!-- 公共-页面前置部分 -->
			<div th:replace="./base :: geometry3_public_nav"></div>
			<!-- 正文部分 -->
			<div id="problem_detail">
				<!-- 题目详情展示 -->
				<div id="problem_show">
					<div id="problem_show_guide" class="step_guide">
						<img class="guide_icon" src="../static/img/icons/no_1.png" alt="一，题目详情展示"/>
						<span>题目详情信息</span>
					</div>
					<div id="problem_show_picture">
						<div th:text="'题目名称： ' + ${info.the_problem.problem_name}"></div>
						<img th:src="${info.the_problem.problem_picture}" src="" alt="题目图片"/>
					</div>
					<div id="problem_show_known_conditions">
						<div style="font-weight: bold">已知条件：</div>
						<ul id="known_conditions_list">
							<li th:each="equal_str :${info.the_problem.initial_equals_str_set}"
								th:text="${equal_str}" style="margin-top: 5px"></li>
						</ul>
					</div>
					<div id="problem_show_need_prove">
						<div style="font-weight: bold">求证：</div>
						<div id="need_prove_content" th:text="${info.the_problem.need_prove_equal_str}"></div>
					</div>
				</div>
				<!-- 解答日志展示 -->
				<div id="problem_solve_log">
					<div id="problem_solve_log_guide" class="step_guide">
						<img class="guide_icon" src="../static/img/icons/no_3.png" alt="三，题目解答日志"/>
						<span>题目解答日志</span>
					</div>
					<div id="problem_solve_log_box">
						<div id="problem_solve_log_setting">
							<div id="problem_solve_log_setting_detail" class="switchbutton_setting_1"
								 data-switch='{"onText":"简版", "offText":"详版", "checked":true}'></div>
						</div>
						<div id="problem_solve_log_content">
							<table id="problem_solve_log_table">
								<tr>
									<th style="width:8%"></th>
									<th style="width:92%"></th>
								</tr>
								<tr><td>∵</td><td>AB+BC=AC, AB+BC=BD</td></tr>
								<tr><td>∴</td><td>AC=BD</td></tr>
								<tr><td>∵</td><td>∠ABC+∠BDE=∠ADC, ∠ABC+∠BDE=∠AMC</td></tr>
								<tr><td>∴</td><td>∠ADC=∠AMC</td></tr>
								<tr><td>∵</td><td>AB=DE, BC=EF, ∠ABC=∠DEF</td></tr>
								<tr><td>∴</td><td>🔺ABC≌🔺DEF</td></tr>
							</table>
						</div>
					</div>
				</div>
				<!-- 题目解答 -->
				<div id="problem_solve">
					<div id="problem_solve_guide" class="step_guide">
						<img class="guide_icon" src="../static/img/icons/no_2.png" alt="二，进行题目解答"/>
						<span>点击自动推理解答题目</span>
					</div>
					<div id="problem_solve_start_button">
						<img src="../static/img/buttons/start_solve.png" alt="启动题目推理程序"/>
					</div>
					<div id="problem_solve_setting">
						<div id="problem_solve_setting_title">
							<span>高级设置</span>
						</div>
						<div id="problem_solve_setting_deduce_times" class="problem_solve_setting_option">
							<span>指定最大推导次数</span>
							<input id="input_deduce_times" type="text" placeholder="默认"/>
						</div>
						<div id="problem_solve_setting_max_complex" class="problem_solve_setting_option">
							<span>指定多项式最大长度</span>
							<input id="input_max_complex" type="text" placeholder="默认"/>
						</div>
					</div>
				</div>
			</div>
			<!-- 公共-页脚部分 -->
			<div th:replace="./base :: geometry3_public_footer"></div>
		</div>
		<script th:inline="javascript">

			// 初始化全局变量
			var on_deducing = false;
			var deduce_finished = false;

			// 触发器
			$(document).ready(function() {

				// 文档加载完毕后解析题目详细信息
				var problem_name = [[${info.the_problem.problem_name}]];
				var points_set = [[${info.the_problem.initial_points_set}]];
				var points_location_x = [[${info.the_problem.points_location_x}]];
				var points_location_y = [[${info.the_problem.points_location_y}]];
				var initial_equals_str_set = [[${info.the_problem.initial_equals_str_set}]];
				var need_prove_equal_str = [[${info.the_problem.need_prove_equal_str}]];
				var max_deduce_times;
				var max_complex_len;

				// 提交题目至后台进行解答，得到题目解答日志
				$("#problem_solve_start_button").on("click", function() {
					// 整理题目信息及参数信息
					try {
						max_deduce_times = parseInt($("#input_deduce_times").val());
					}
					catch(err) {
						max_deduce_times = null;
					}
					try {
						max_complex_len = parseInt($("#input_max_complex").val());
					}
					catch(err) {
						max_complex_len = null;
					}
					var data_object = {
						"problem_name": problem_name,
						"points_set": JSON.stringify(points_set),
						"points_location_x": JSON.stringify(points_location_x),
						"points_location_y": JSON.stringify(points_location_y),
						"initial_equals_str_set": JSON.stringify(initial_equals_str_set),
						"need_prove_equal_str": need_prove_equal_str,
						"max_deduce_times": max_deduce_times,
						"max_complex_len": max_complex_len
					};
					alert(JSON.stringify(data_object));
					// 异步请求解答题目服务
					$.ajax({
					    url: "/solveProblem",
					    type: "POST",
					    data: JSON.stringify(data_object),
					    contentType: "application/json",

					    success: function(data) {
					        on_deducing = false;
					        deduce_finished = true;
							
					    },
					    beforeSend: function() {
					        on_deducing = true;
					        deduce_finished = false;
					    },
					    error: function () {
					        on_deducing = false;
					        $.messager.alert('错误', '后台解题过程出现故障');
					    }
					});
				});

			});

		</script>
	</body>
</html>