<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="~{base :: geometry3_public_resource}"></div>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/problem_bank.css"/>
        <meta charset="utf-8"/>
        <title th:text="'Geometry3-' + ${info.title}"></title>
    </head>
    <body>
        <div class="all_container">
            <!-- 公共-页面前置部分 -->
            <div th:replace="~{base :: geometry3_public_nav}"></div>
            <!-- 正文部分 -->
            <div id="problem_bank">
                <!-- 题库标题 -->
                <div id="problem_bank_title">
                    <p id="title_content"><span style="font-weight: bold">题目总数:&emsp;</span>
                        <span th:text="${info.problems_count}"></span></p>
                    <input id="query_name" class="easyui-textbox"
                           data-options="iconCls:'icon-search',prompt:'题目名称'">
                    <input id="query_start_dt" type="text" class="easyui-datebox"
                           data-options="prompt:'起始日期范围',editable:false">
                    <input id="query_end_dt" type="text" class="easyui-datebox"
                           data-options="prompt:'截至日期范围',editable:false">
                    <a id="button_query_problems" class="easyui-linkbutton">筛选查询</a>
                </div>
                <!-- 题库内容 -->
                <div id="problem_bank_content">
                    <ul id="problem_board_list">
                        <li class="problem_board_li" th:each="problem :${info.problems}">
                            <div class="problem_board" th:data-problem_id="${problem.problem_id}">
                                <img class="problem_board_picture" th:src="${problem.problem_picture}" src="" alt="题目图片">
                                <div class="problem_board_info">
                                    <p><span style="font-weight: bold">题目名称:&emsp;</span>
                                        <span th:text="${problem.problem_name}"></span></p>
                                    <p><span style="font-weight: bold">作者ID:&emsp;</span>
                                        <span th:text="${problem.problem_author_id}"></span></p>
                                    <p><span style="font-weight: bold">求证:&emsp;</span>
                                        <span th:text="${problem.need_prove_equal_str}"></span></p>
                                    <p><span style="font-weight: bold">创建时间:&emsp;</span>
                                        <span th:text="${#dates.format(problem.create_date, 'yyyy-MM-dd')}"></span></p>
                                </div>
                                <div class="problem_board_additional_info">
                                    <p>题目难度</p>
                                    <div class="hard_level" th:data-hard_level="${problem.hard_level}">
                                        <img src="../static/img/icons/hard_level_star.png" alt="难度星级"
                                             th:each="i :${#numbers.sequence(1, problem.hard_level)}"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="problem_pagination" class="easyui-pagination"></div>
                </div>
            </div>
            <!-- 公共-页脚部分 -->
            <div th:replace="~{base :: geometry3_public_footer}"></div>
        </div>
        <script th:inline="javascript">

            // 初始化全局变量
            const PROBLEMS_PAGE_SIZE = 3;
            var currentPageNumber = 1;

            // 触发器
            $(document).ready(function() {

                // 初始化分页组件及响应事件
                $("#problem_pagination").pagination({
                    total: [[${info.problems_count}]],
                    pageSize: PROBLEMS_PAGE_SIZE,
                    pageList: [PROBLEMS_PAGE_SIZE],
                    onSelectPage: function(pageNumber){
                        $(this).pagination('loading');
                        currentPageNumber = pageNumber;
                        queryProblems();
                        $(this).pagination('loaded');
                    }
                });

                // 点击筛选查询按钮事件
                $("#button_query_problems").click(function() {
                    $("#problem_pagination").pagination({pageNumber: 1});
                    currentPageNumber = 1;
                    queryProblems();
                });

                // 异步请求分页内容方法
                var queryProblems = function() {
                    // 整理筛选参数信息
                    var data_object = {
                        "problem_author_id": [[${info.session_user_id}]],
                        "problem_name": $("#query_name").textbox('getText'),
                        "start_dt": $("#query_start_dt").textbox('getText'),
                        "end_dt": $("#query_end_dt").textbox('getText'),
                        "page_num": currentPageNumber
                    };
                    // 异步请求批量查询服务
                    $.ajax({
                        url: "/filterProblems",
                        type: "POST",
                        data: JSON.stringify(data_object),
                        contentType: "application/json",
                        dataType: "text",
                        success: function(data) {
                            var query_result = JSON.parse(data);
                            refreshProblems(query_result['problems_count'], query_result['problems']);
                        },
                        error: function() {
                            $.messager.alert('错误', '后台系统查询出现故障!');
                        }
                    });
                }

                // 更新题目显示列表内容
                var refreshProblems = function(problems_count, problems) {
                    $("#title_content span:nth-child(2)").text(problems_count);
                    $("#problem_pagination").pagination({total: problems_count});
                    $("#problem_board_list").empty();
                    for (var i=0; i<problems.length; i++) {
                        let problem = problems[i];
                        $("#problem_board_list").append(`
                            <li class="problem_board_li">
                                <div class="problem_board" data-problem_id=${problem.problem_id}>
                                    <img class="problem_board_picture" src=${problem.problem_picture} alt="题目图片">
                                    <div class="problem_board_info">
                                        <p><span style="font-weight: bold">题目名称:&emsp;</span>
                                            <span>${problem.problem_name}</span></p>
                                        <p><span style="font-weight: bold">作者ID:&emsp;</span>
                                            <span>${problem.problem_author_id}</span></p>
                                        <p><span style="font-weight: bold">求证:&emsp;</span>
                                            <span>${problem.need_prove_equal_str}</span></p>
                                        <p><span style="font-weight: bold">创建时间:&emsp;</span>
                                            <span>${new Date(problem.create_date).Format("yyyy-MM-dd")}</span></p>
                                    </div>
                                    <div class="problem_board_additional_info">
                                        <p>题目难度</p>
                                        <div class="hard_level" data-hard_level=${problem.hard_level}></div>
                                    </div>
                                </div>
                            </li>
                            `);
                    }
                    $(".hard_level").each(function() {
                        for (i=0; i<$(this).data("hard_level"); i++) {
                            $(this).append(`<img src="../static/img/icons/hard_level_star.png" alt="难度星级"/>`)
                        }
                    });
                }

                // 鼠标悬停和点击题目面板效果
                $("#problem_board_list").on("mouseover", "li .problem_board",function() {
                    if ($(this).is(":animated")) $(this).stop();
                    $(this).animate({backgroundColor: '#fffacd'}, 100);
                });
                $("#problem_board_list").on("mouseout", "li .problem_board",function() {
                    if ($(this).is(":animated")) $(this).stop();
                    $(this).animate({backgroundColor: '#ffffff'}, 100);
                });
                $("#problem_board_list").on("click", "li .problem_board",function() {
                    window.location.href = "/getProblemPage" + "?id=" + $(this).data("problem_id");
                });

            });

        </script>
    </body>
</html>