<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="./base :: geometry3_public_resource"></div>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/problem_detail.css"/>
		<meta charset="utf-8"/>
		<title>Geometry3-题目详情</title>
	</head>
	<body>
		<div class="all_container">
			<!-- 公共-页面前置部分 -->
			<div th:replace="./base :: geometry3_public_nav"></div>
			<!-- 正文部分 -->
			<div id="problem_detail">
				<!-- 题目详情展示 -->
				<div id="problem_show">
					<div id="problem_show_guide" class="step_guide">
						<img class="guide_icon" src="../static/img/icons/no_1.png" alt="一，题目详情展示"/>
						<span>题目详情信息</span>
					</div>
					<div id="problem_show_picture">
						<div th:text="'题目名称： ' + ${info.the_problem.problem_name}"></div>
						<img th:src="${info.the_problem.problem_picture}" src="" alt="题目图片"/>
					</div>
					<div id="problem_show_known_conditions">
						<div style="font-weight: bold">已知条件：</div>
						<ul id="known_conditions_list">
							<li th:each="equal_str :${info.the_problem.initial_equals_str_set}"
								th:text="${equal_str}" style="margin-top: 5px"></li>
						</ul>
					</div>
					<div id="problem_show_need_prove">
						<div style="font-weight: bold">求证：</div>
						<div id="need_prove_content" th:text="${info.the_problem.need_prove_equal_str}"></div>
					</div>
				</div>
				<!-- 解答日志展示 -->
				<div id="problem_solve_log">
					<div id="problem_solve_log_guide" class="step_guide">
						<img class="guide_icon" src="../static/img/icons/no_3.png" alt="三，题目解答日志"/>
						<span>题目解答日志</span>
					</div>
					<div id="problem_solve_log_box">
						<div id="problem_solve_log_setting">
							<div id="problem_solve_log_setting_detail" class="switchbutton_setting_1"
								 data-switch='{"onText":"简版", "offText":"详版", "checked":true}'></div>
						</div>
						<div id="problem_solve_log_content">
							<table id="problem_solve_log_table">
								<thead>
									<tr>
										<th style="width:8%"></th>
										<th style="width:92%"></th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- 题目解答 -->
				<div id="problem_solve">
					<div id="problem_solve_guide" class="step_guide">
						<img class="guide_icon" src="../static/img/icons/no_2.png" alt="二，进行题目解答"/>
						<span>点击自动推理解答题目</span>
					</div>
					<div id="problem_solve_start_button">
						<img src="../static/img/buttons/start_solve.png" alt="启动题目推理程序"/>
					</div>
					<div id="problem_solve_setting">
						<div id="problem_solve_setting_title">
							<span>高级设置</span>
						</div>
						<div id="problem_solve_setting_deduce_times" class="problem_solve_setting_option">
							<span>指定最大推导次数</span>
							<input id="input_deduce_times" type="text" placeholder="默认"/>
						</div>
						<div id="problem_solve_setting_max_complex" class="problem_solve_setting_option">
							<span>指定多项式最大长度</span>
							<input id="input_max_complex" type="text" placeholder="默认"/>
						</div>
					</div>
				</div>
			</div>
			<!-- 公共-页脚部分 -->
			<div th:replace="./base :: geometry3_public_footer"></div>
		</div>
		<script th:inline="javascript">

			// 初始化全局变量
			var on_deducing = false;
			var deduce_finished = false;
			var has_proved = null;
			var log_html = {"simple": [], "detailed": []};

			// 触发器
			$(document).ready(function() {

				// 文档加载完毕后解析题目详细信息
				var problem_name = [[${info.the_problem.problem_name}]];
				var points_set = [[${info.the_problem.initial_points_set}]];
				var points_location_x = [[${info.the_problem.points_location_x}]];
				var points_location_y = [[${info.the_problem.points_location_y}]];
				var initial_equals_str_set = [[${info.the_problem.initial_equals_str_set}]];
				var need_prove_equal_str = [[${info.the_problem.need_prove_equal_str}]];
				var max_deduce_times;
				var max_complex_len;

				// 开启题目解答按钮的鼠标效果
				$("#problem_solve_start_button").mouseover(function() {
					$("#problem_solve_start_button img").css("padding", "10px")
				});
				$("#problem_solve_start_button").mouseout(function() {
					$("#problem_solve_start_button img").css("padding", "0")
				});

				// 提交题目至后台进行解答，得到题目解答日志
				$("#problem_solve_start_button").on("click", function() {
					// 仅能提交一次，提交后按钮失效
					$("#problem_solve_start_button").unbind("mouseover").unbind("mouseout").unbind("click");
					$("#problem_solve_start_button").css("cursor", "default");
					// 整理题目信息及参数信息
					try {
						max_deduce_times = parseInt($("#input_deduce_times").val());
						if (isNaN(max_deduce_times) || max_deduce_times < 0) {
							max_deduce_times = 0;
						}
					}
					catch(err) {
						max_deduce_times = 0;
					}
					try {
						max_complex_len = parseInt($("#input_max_complex").val());
						if (isNaN(max_complex_len) || max_complex_len < 0) {
							max_complex_len = 0;
						}
					}
					catch(err) {
						max_complex_len = 0;
					}
					var data_object = {
						"problem_name": problem_name,
						"points_set": JSON.stringify(points_set),
						"points_location_x": JSON.stringify(points_location_x),
						"points_location_y": JSON.stringify(points_location_y),
						"initial_equals_str_set": JSON.stringify(initial_equals_str_set),
						"need_prove_equal_str": need_prove_equal_str,
						"max_deduce_times": max_deduce_times,
						"max_complex_len": max_complex_len
					};
					// 异步请求解答题目服务
					$.ajax({
					    url: "/solveProblem",
					    type: "POST",
					    data: JSON.stringify(data_object),
					    contentType: "application/json",
						dataType: "text",
					    success: function(data) {
					        on_deducing = false;
					        deduce_finished = true;
							parseSolveResponse(data);
							changeLogContent();
							changePageStatus();
					    },
					    beforeSend: function() {
					        on_deducing = true;
					        deduce_finished = false;
							has_proved = null;
							log_html = {"simple": [], "detailed": []};
							changeLogContent();
							changePageStatus();
					    },
					    error: function () {
					        on_deducing = false;
					        $.messager.alert('错误', '后台解题过程出现故障!');
							changeLogContent();
							changePageStatus();
					    }
					});
				});

				// 解析解题服务响应内容
				var parseSolveResponse = function(problem_solve_response) {
					// 解析是否已被证明
					has_proved = JSON.parse(problem_solve_response)['has_proved'];
					// 解析日志内容，区分简版与详版
					var problem_solve_log = JSON.parse(problem_solve_response)['problem_solve_log'];
					var problem_solve_log_complexity = problem_solve_log['complexity'];
					var problem_solve_log_because = problem_solve_log['because'];
					var problem_solve_log_so = problem_solve_log['so'];
					for (var i=0; i<problem_solve_log_complexity.length; i++) {
						let this_html = "<tr><td>∵</td><td>" + problem_solve_log_because[i] + "</td></tr>" +
								"<tr><td>∴</td><td>" + problem_solve_log_so[i] + "</td></tr>";
						if (problem_solve_log_complexity[i] === "simple") {
							log_html["simple"].push(this_html);
						}
						log_html["detailed"].push(this_html);
					}
				}

				// 更新题目解答日志状态
				var changeLogContent = function() {
					// 日志显示更新状态
					$("#problem_solve_log_content img").remove();
					$("#problem_solve_log_content").prepend("<img style='width: 40px; height: 40px; margin: auto' " +
							"src='../static/img/gif/loading_2.gif' alt='日志更新中'/>");
					// 获取日志表格内容主体
					var table_body = $("#problem_solve_log_table tbody");
					// 根据当前状态采取不同更新措施
					if (!on_deducing && deduce_finished) {
						// 推导完成状态，清空原有日志，准备写入新日志
						table_body.empty();
						// 按鼠标滚轮批次写入日志内容
						let is_simplified_version = $("#problem_solve_log_setting_detail").data('switch').checked;
						if (is_simplified_version) {
							scrollBatchAppend(table_body, $("#problem_solve_log_content"), log_html["simple"])
						} else {
							scrollBatchAppend(table_body, $("#problem_solve_log_content"), log_html["detailed"])
						}
						// 日志更新完成，解除更新状态
						$("#problem_solve_log_content img").remove();
					} else if (on_deducing && !deduce_finished) {
						// 正在推导状态，清空原有残留日志
						table_body.empty();
					} else {
						// 未进行推导或推导失败，日志无法更新，解除更新状态
						$("#problem_solve_log_content img").remove();
					}
				}

				// 切换日志简版/详版效果
				$("#problem_solve_log_setting_detail").on("click", function() {
					if (!on_deducing && deduce_finished) changeLogContent();
				});

				// 更新页面解答过程进度展示
				var changePageStatus = function () {
					$("#problem_solve_start_button").empty();
					$("#problem_solve_setting").empty();
					if (on_deducing && !deduce_finished) {
						$("#problem_solve_start_button").append(
								"<img style='width: 200px; height: 20px; margin-top: 90px' " +
								"src='../static/img/gif/loading_1.gif' alt='正在解答中'/>");
						$("#problem_solve_setting").append("<div>正在自动推理中，可能需要一两分钟...</div>" +
								"<div>推理时间取决于题目中点的数量与复杂程度</div>");
					} else if (!on_deducing && deduce_finished) {
						if (has_proved) {
							$("#problem_solve_start_button").append("<img style='width: 200px; height: 200px;' " +
									"src='../static/img/icons/solve_success.png' alt='已成功证明'/>");
							$("#problem_solve_setting").append("<div>程序已成功证明出题目！</div>" +
									"<div>使用的关键性定理以及推理记录参见上方日志</div>");
						} else {
							$("#problem_solve_start_button").append("<img style='width: 200px; height: 200px;' " +
									"src='../static/img/icons/solve_unsuccess.png' alt='未成功证明'/>");
							$("#problem_solve_setting").append("<div>程序未能证明出题目...</div>" +
									"<div>使用简单的几何定理无法完成证明，可以添加辅助点再进行尝试</div>");
						}
					} else {
						$("#problem_solve_start_button").append("<img style='width: 200px; height: 200px;' " +
								"src='../static/img/icons/solve_error.png' alt='推导出现错误'/>");
						$("#problem_solve_setting").append("<div>程序推导出现错误！</div>" +
								"<div>请检查录入题目信息是否规范，是否与所绘制图形相符</div>");
					}
					$("#problem_solve_setting div").css({"margin-top": "45px", "font-style": "italic"});
				}

			});

		</script>
	</body>
</html>